<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/main.js" type="module" defer></script>
</head>
<body>
    <header>
        <h1>하이미디어 AIX과정 출결</h1>
    </header>
    <main>
        <section class="video-section">
            <video id="video" class="flip-video" width="640" height="480" autoplay></video>
            <div id="result"></div>
        </section>
        <section class="entry-list-section">
            <h2 id="recordTitle">사용자 출입 기록</h2>
            <ul id="entries" class="entry-list"></ul>
        </section>
    </main>
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p id="confirmationMessage"></p>
            <button id="entryButton" class="button">출근</button>
            <button id="outgoingButton" class="button">외출</button>
            <button id="returningButton" class="button">복귀</button>
            <button id="exitButton" class="button">퇴근</button>
            <button id="cancelButton" class="button cancel">취소</button>
        </div>
    </div>
    <div id="alreadyExitedModal" class="modal">
        <div class="modal-content">
            <p id="alreadyExitedMessage"></p>
            <button id="alreadyExitedConfirmButton" class="button">확인</button>
        </div>
    </div>
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <p>등록된 사용자가 없어 사용자 등록 페이지로 이동합니다.</p>
            <div class="button-container">
                <button id="retryButton" class="button">다시 시도</button>
                <button id="registerButton" class="button">등록</button>
            </div>
        </div>
    </div>
</body>
</html>
